<%- include('partials/header') -%>

<main class="container">
    <div class="card border-dark mb-3 text-center position-absolute top-50 start-50 translate-middle">
        <div class="card-body">
          <h5 class="card-title align-middle">Welcome to Travel RN</h5>
          <img src="" class="logo-img" alt="travel rn glow logo" >
          <p class="card-text">Track your show and festival memories</p>
          <div class="row justify-content-around mt-5">
            <a href="/login" class="col-5 btn btn-primary" style="background-color: #1e90ff;"> Login</a>
            <a href="/signup" class="col-5 btn btn-primary" style="background-color: #1e90ff;"> Signup</a>
        </div>
      </div>
    </div>  
</main>
    

<%- include('partials/footer') -%>